# Edit this file to introduce tasks to be run by cron.
#
# Each task to run has to be defined through a single line
# indicating with different fields when the task will be run
# and what command to run for the task
#
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').
#
# Notice that tasks will be started based on the cron's system
# daemon's notion of time and timezones.
#
# Output of the crontab jobs (including errors) is sent through
# email to the user the crontab file belongs to (unless redirected).
#
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
#
# For more information see the manual pages of crontab(5) and cron(8)

SHELL=/bin/bash

# m         h   dom mon dow   command
@reboot                       cd ~/server/scripts && source ./compose.sh sites             &>> /var/log/cron/sites.log
00,30       *   *   *   *     cd ~/server/scripts && source ./upgrade.sh                   &>> /var/log/cron/upgrade.log
00,15,30,45 *   *   *   *     cd ~/server/scripts && source ./compose.sh robot-1-schedules &>> /var/log/cron/schedules.log
27          00  *   *   *     cd ~/server/scripts && source ./compose.sh robot-2-wipe      &>> /var/log/cron/wipe.log
37          */2 *   *   *     cd ~/server/scripts && source ./compose.sh robot-3-import    &>> /var/log/cron/import.log
47          01  *   *   *     cd ~/server/scripts && source ./compose.sh robot-4-finish    &>> /var/log/cron/finish.log
57          */2 *   *   *     cd ~/server/scripts && source ./compose.sh robot-5-requeue   &>> /var/log/cron/requeue.log
07          */2 *   *   *     cd ~/server/scripts && source ./compose.sh robot-6-export    &>> /var/log/cron/export.log
17          02  *   *   *     cd ~/server/scripts && source ./compose.sh robot-7-expire    &>> /var/log/cron/expire.log
