services:

  nginx:
    build:
      context: ../..
      dockerfile: local/nginx/Dockerfile
    container_name: keon-test-nginx
    ports:
      - 80:80
      - 443:443
    deploy:
      resources:
          limits:
            cpus: 0.1
            memory: 50M
